doctype html
html(lang='en')
	include head.pug
	body
		include heading.pug
		div(class="row")
			h3(class="mx-4 p-2 col col-md-3") Coinmarketcap Rates
		div(class="row mx-2 p-2")
			a(href="/cmcRates?limit=10" class="active" style="width: 70px") Top 10
			a(href="/cmcRates?limit=50" style="width: 70px") Top 50
			a(href="/cmcRates?limit=100" style="width: 70px") Top 100

		div(class="row")
			ul(class="mx-4 list-group col col-md-3")
				each val, index in data
					if parseFloat(val.quotes.USD.percent_change_24h) > 0
						li(class="list-group-item")= val.name + ': ' 
							span(style="color:green; align:right")= '$' + val.quotes.USD.price 
					else 
						li(class="list-group-item")= val.name + ': ' 
							span(style="color:red; align:right")= '$'  + val.quotes.USD.price 
		include footer.pug
		include script.pug