doctype html
html(lang='en')
	include head.pug
	body
		h1(class="mx-auto" style="width: 97%;") Cryptomania
		div(class="m-2 p-2 border rounded bg-light" style="width: 50%")
			form(action="/fetchValue" method="GET")
				div(class="form-group w-75 p-3")
					label(for="bittrex") Enter Bittrex BTC value:
					input(type="text" class="form-control" id="bittrex" name="bittrex")

				div(class="form-group w-75 p-3")
					label(for="binance") Enter Binance BTC value:
					input(type="text" class="form-control" id="binance" name="binance")
				
				input(type="submit" class="btn btn-primary mx-3" value="Go")