doctype html
html(lang='en')
	include head.pug
	body
		include heading.pug
		div(class="row")
			h3(class="mx-4 p-2 col col-md-3") Koinex Rates
		div(class="row")
			ul(class="mx-4 list-group col col-md-3")
				each val, index in data
					if parseFloat(val.per_change) > 0
						li(class="list-group-item")= val.name + ': ' 
							span(style="color:green; align:right")= 'Rs.' + val.price
					else 
						li(class="list-group-item")= val.name + ': ' 
							span(style="color:red; align:right")= 'Rs.'  + val.price
		include footer.pug
		include script.pug