doctype html
html(lang='en')
	include head.pug
	body
		include heading.pug
		div(class="row")
			h3(class="mx-4 p-2 col col-md-3") Koinex Rates
		div(class="row")
			div(class="m-4 p-4 border rounded bg-light col col-md-3")
				ul 
					each val, index in data
						li= index + ': Rs.' + val
		include footer.pug